.main-body {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    background: #e1e8f0;
    background-image: url("../pics/empire-state.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 85vh;
}

.main-bg {
    /* backdrop-filter: blur(2px); */
}

h2 {
    margin: 0;
}